.back-button {
    box-sizing: border-box;
  
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    background-color: grey;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
  
    color: white;
    cursor: pointer;
}
